<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>915254355155-lrv5vhiqiihdqv0o9nb2m7e29cqoolk6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915254355155-lrv5vhiqiihdqv0o9nb2m7e29cqoolk6</string>
	<key>API_KEY</key>
	<string>AIzaSyBB28yA3DdhAbPBoCA8ghQrIWnTbVmcPfM</string>
	<key>GCM_SENDER_ID</key>
	<string>915254355155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vineethkolichal.myTradebook</string>
	<key>PROJECT_ID</key>
	<string>my-tradebook</string>
	<key>STORAGE_BUCKET</key>
	<string>my-tradebook.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915254355155:ios:27aa08fc2eca392993e026</string>
</dict>
</plist>